
body {
background-color: #2f64d6;
display: flex;
flex-direction: column;

}

.liked {
max-width: 250px;
}

.notLiked {
width: 150px;
}

.characterContainer {
display: flex;
background-color: cadetblue;
transition: 1s max-width ease-in-out;
border: 1px solid #000000;
border-radius: 10px;
margin-block: 1em;
padding: 1em;
}

.left-text {

order: 1;
}


.nav {
display: flex;
justify-content: center;

}

.nav-list {
display: flex;
justify-content: space-evenly;
background: cadetblue;
border-radius: 10px;
max-width: 100%;
width: 100%;
}

li {
list-style: none;
margin: 0.2rem;
}

/* Splash screen animation */
.container {
display: flex;
justify-content: center;
}

.splash-screen {
animation: pulse 1s infinite ease-in-out;
}
@keyframes pulse {

0% {
opacity: 1
} 

50% {
opacity: 0.1
  
}

100% {
opacity: 1
  
}
}